<div class="card">
    <p-table [value]="data" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>PANGKALAN</th>
                <th>SM</th>
                <th>PPK</th>
                <th>SND</th>
                <th>PBB</th>
                <th>MNY</th>
                <th>BVK</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.PANGKALAN }}</td>
                <td>{{ row.SM }}</td>
                <td>{{ row.PPK }}</td>
                <td>{{ row.SND }}</td>
                <td>{{ row.PBB }}</td>
                <td>{{ row.MNY }}</td>
                <td>{{ row.BVK }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>