<div class="flex justify-content-center min-h-screen min-w-screen overflow-hidden py-3" style="background: #295BAC">
    <div class="icon-header">
        <a class="flex" style="align-items:center; justify-content: center; text-align: center;height: 100%;">
            <img src="./assets/demo/images/logo/logo-primary.png" alt="Logo-Lagadelas" class="logo-header">
        </a>
    </div>
    <div class="h-full w-full flex justify-content-center ">
        <div class="card lg:col-6 col-11" style="margin-top: 6rem;">
            <h4 class="text-center font-bold mb-5 " style="margin-top: 6rem;">
                PENDAFTARAN PESERTA LAGADELAS
            </h4>
            <div class="p-fluid">
                <div class="field mb-5">
                    <div class="p-float-label">
                        <input pInputText id="nama-regu" [(ngModel)]="nama_regu"/>
                        <label for="nama-regu">NAMA REGU</label>
                    </div>
                </div>
                <div class="field mb-5">
                    <div class="p-float-label">
                        <input pInputText id="nama-pangkalan"  [(ngModel)]="nama_pangkalan" />
                        <label for="nama-pangkalan">NAMA PANGKALAN</label>
                    </div>
                </div>
                <div class="field mb-5">
                    <div class="p-float-label">
                        <input pInputText id="nama-pendamping"  [(ngModel)]="nama_pendamping"/>
                        <label for="nama-pendamping">NAMA PENDAMPING</label>
                    </div>
                </div>
                <div class="field mb-5">
                    <div class="p-float-label">
                        <input pInputText id="nama-kwaran"  [(ngModel)]="nama_kwaran"/>
                        <label for="nama-kwaran" >KWARAN</label>
                    </div>
                </div>
                <div class="field mb-5">
                    <div class="p-float-label">
                        <p-dropdown [options]="kategori" appendTo="body" [(ngModel)]="selectedKategori"
                            optionLabel="name" [showClear]="true"></p-dropdown>
                        <label for="kategori">KATEGORI</label>
                    </div> 
                </div>
                <div class="field mb-5">
                    <div class="p-float-label">
                        <input pInputText id="nomor-wa"  [(ngModel)]="nomor_wa"/>
                        <label for="nomor-wa">NOMOR WHATSAPP</label>
                    </div>
                </div>
                <div class="field mb-5">
                    <div class="field">
                        <div class="upload-file upload-file-button">
                            <input type="file" (change)="fotoAnggota($event, 0)" id="fotoAnggota-regu" accept="image/jpeg, image/png, image/gif" />
                            <label for="fotoAnggota-regu" class="text-center">{{ labelFotoanggotaRegu || "UPLOAD FOTO REGU" }}</label>
                        </div>                                            
                    </div>
                </div>
                <div class="field mb-5">
                    <div class="upload-file upload-file-button">
                         <input type="file" (change)="uploadSuratTugasSekolah($event, 0)" id="surat-tugas-sekolah" accept="file/pdf" />
                         <label for="surat-tugas-sekolah" class="text-center">{{ labelTugasSekolah || "UPLOAD SURAT TUGAS SEKOLAH" }}</label>
                    </div>                        
                </div>
                <div class="field mb-5">
                    <div class="upload-file upload-file-button">
                            <input type="file" (change)="uploadSuratTugasKwaran($event, 0)" id="surat-tugas-kwaran" accept="file/pdf" />
                            <label for="surat-tugas-kwaran" class="text-center">{{ labelTugasKwaran || "UPLOAD SURAT TUGAS KWARAN" }}</label>
                    </div>     
                </div>
                <div class="field"><button class="p-button p-button-success" pButton pRippel label="DAFTAR" (click)="postPendaftaran()"></button>
                </div>
            </div>
        </div>
    </div>
</div>