	<section>
		<div class="leaves">
			<div class="set">
				<div><img src="./assets/image/login/leaf_01.png"></div>
				<div><img src="./assets/image/login/leaf_02.png"></div>
				<div><img src="./assets/image/login/leaf_03.png"></div>
				<div><img src="./assets/image/login/leaf_04.png"></div>
				<div><img src="./assets/image/login/leaf_01.png"></div>
				<div><img src="./assets/image/login/leaf_02.png"></div>
				<div><img src="./assets/image/login/leaf_03.png"></div>
				<div><img src="./assets/image/login/leaf_04.png"></div>
			</div>
		</div>
		<img src="./assets/image/login/bg.jpg" class="bg">
		<img src="./assets/image/login/girl.png" class="girl">
		<img src="./assets/image/login/trees.png" class="trees">
		<div class="login mx-3">
            <img src="./assets/image/maskot/figure2_transparant.png" alt="maskot">
			<h3>LAGADELAS INISIATOR 2024</h3>
			<div class="inputBox p-fluid">
				<input type="text" placeholder="Username"/>
			</div>
			<div class="inputBox p-fluid">
				<input type="password" placeholder="Password"/>
			</div>
            <div class="inputBox p-fluid">
				<button class="p-button-warning" pButton pRipple label="LOGIN"></button>
            </div>
		</div>
		
	</section>