<p-toast></p-toast>

<!-- <div *ngIf="!skor" class="flex">
    <nav class="nav-cat">
        <div class="nav-text">
            LAGADELAS 2024
        </div>
        <div class="nav-text">
            {{counter | formatTime}}
        </div>
    </nav>
    <div class="flex-column ">
        <div class="sidebar">
            <div *ngFor="let i of generateArray(50); let last = last" class="loop">
                <a (click)="clickIndikator(i)"
                    class="indikator text-center flex align-items-center justify-content-center"
                    [ngClass]="{'active': isIndikatorActive(i)}">
                    {{ i + 1 }}
                </a>
            </div>
        </div>


        <div class="soal-cat w-full">
            <div *ngFor="let item of soal; let outerIndex = index" class="mt-5">
                <img *ngIf="item.QUESTION_IMAGE != '' && item.QUESTION_IMAGE != null " [src]="item.QUESTION_IMAGE"
                    alt="Uploaded Image" width="100%">
                <p class="text-2xl font-bold" [ngClass]="{ 'mt-8': outerIndex === 1 }">{{ item.QUESTION_TEXT }}</p>
                <div *ngFor="let item_option of item.OPTIONS; let innerIndex = index">
                    <div class="flex align-items-center mt-2 text-2xl">
                        <p-radioButton [name]="item.QUEST_ID"
                            (ngModelChange)="responseSave(item.QUEST_ID, item_option.ID_OPTIONS, 3, counter)"
                            [value]="innerIndex" [(ngModel)]="item.selectedOption" binary="true"
                            (ngModelChange)="onClickOption(item.QUEST_ID, item_option.ID_OPTIONS)"></p-radioButton>
                        <label for="{{ item_option.ID_OPTIONS }}" class="ml-2">{{ item_option.OPTIONS_TEXT }}</label>
                        <img *ngIf="item_option.OPTIONS_IMAGE != '' && item_option.OPTIONS_IMAGE != null"
                            [src]="item_option.OPTIONS_IMAGE" alt="Uploaded Image" width="50%">

                    </div>
                </div>
            </div>


            <div class="p-fluid mt-5">
                <button *ngIf="page < 25" pButton pRipple class="p-button-info mr-3" label="next"
                    (click)="nextQuestion()"></button>
                <button *ngIf="page == 25" pButton pRipple class="p-button-warning col-2" label="selesai"
                    (click)="getSkor()"></button>
            </div>
        </div>
    </div>
</div> -->
<app-header></app-header>
<div class="grid mr-2 ml-2" style="margin-top: 6rem;">
    <div class="col-6">
        <div class="card">
            <h4>Informasi Pengerjaan</h4>
            <hr>
            <div class="grid">
                <div class="col-3">
                    Sesi Lomba
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8">
                    SEMBOYAN
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    Regu
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8">
                    Elang
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    Pangkalan
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8">
                    SMP Negeri 18 SEMARANG
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h4>Sisa Waktu</h4>
            <hr>
            <div class="flex justify-content-center p-fluid" style="font-size: 4.2rem;font-weight: bold;">
                {{counter | formatTime}}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="sidebar">
                <div *ngFor="let i of generateArray(30); let last = last" class="loop">
                    <a (click)="clickIndikator(i)"
                        class="indikator text-center flex align-items-center justify-content-center"
                        [ngClass]="{'active': isIndikatorActive(i)}">
                        {{ i + 1 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="w-full">
                <div *ngFor="let item of soal; let outerIndex = index" class="mt-5">
                    <img *ngIf="item.QUESTION_IMAGE != '' && item.QUESTION_IMAGE != null " [src]="item.QUESTION_IMAGE"
                        alt="Uploaded Image" width="100%">
                    <p class="text-2xl font-bold" [ngClass]="{ 'mt-8': outerIndex === 1 }">{{ item.QUESTION_TEXT }}</p>
                    <div *ngFor="let item_option of item.OPTIONS; let innerIndex = index">
                        <div class="flex align-items-center mt-2 text-2xl">
                            <p-radioButton [name]="item.QUEST_ID"
                                (ngModelChange)="responseSave(item.QUEST_ID, item_option.ID_OPTIONS, 3, counter)"
                                [value]="innerIndex" [(ngModel)]="item.selectedOption" binary="true"
                                (ngModelChange)="onClickOption(item.QUEST_ID, item_option.ID_OPTIONS)"></p-radioButton>
                            <label for="{{ item_option.ID_OPTIONS }}" class="ml-2">{{ item_option.OPTIONS_TEXT }}</label>
                            <img *ngIf="item_option.OPTIONS_IMAGE != '' && item_option.OPTIONS_IMAGE != null"
                                [src]="item_option.OPTIONS_IMAGE" alt="Uploaded Image" width="50%">
    
                        </div>
                    </div>
                </div>
    
    
                <div class="p-fluid mt-5">
                    <button *ngIf="page < 25" pButton pRipple class="p-button-info mr-3" label="next"
                        (click)="nextQuestion()"></button>
                    <button *ngIf="page == 25" pButton pRipple class="p-button-warning col-2" label="selesai"
                        (click)="getSkor()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf=" skor" class="background">
    <div
        class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden background">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:70%">
            <div class="col-12 xl:col-6"
                style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4"
                    style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="text-center mb-5">
                        <div class="font-bold" style="font-size: 1.6rem;color: #295BAC;">LAGADELAS<span>
                                <div style="font-size: 1.25rem;color: #FF9800;">INISIATOR 2024</div>
                            </span></div>

                    </div>
                    <div class="w-full md:w-10 mx-auto text-center ">
                        <div class="mb-5">
                            <div class=" align-items-center font-bold text-6xl">REGU</div>
                            <div class="align-items-center font-bold text-3xl" style="color: red;">
                                {{nilai_akhir.USERNAME}}</div>
                        </div>
                        <div class="">
                            <div class=" align-items-center font-bold text-6xl">SKOR PUPUK</div>
                            <div class="align-items-center font-bold text-6xl" style="color: red;">
                                {{nilai_akhir.Nilai}}</div>
                        </div>
                        <p-progressBar [value]="value"></p-progressBar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>