<div class="">
    <p-card styleClass="text-primary" header="LEMBAR PENILAIAN">
        <ng-template pTemplate="header">
            <img alt="Card" src="./assets/image/header/header_pbb.png" />
        </ng-template>
        <h5 class="text-cyan-700 font-bold text-center">PESERTA</h5>
        <hr>
        <div class="text-center border">
            <div class="text-gray-900 font-bold text-2xl">A10</div>
            <div class="text-gray-900 font-bold text-2xl">REGU ELANG</div>
        </div>
        <h5 class="text-cyan-700 font-bold text-center">PENILAIAN</h5>
        <hr>
        <div class="p-fluid" style="margin-top: 2rem;">
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="15" [max]="60"> </p-inputNumber>
                    <label class="font-bold" for="ketepatan">SIKAP SEMPURNA</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">LENCANG KANAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">LENCANG KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">LENCANG DEPAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">ISTIRAHAT DITEMPAT</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">HORMAT</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">HITUNG</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">HADAP KANAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">HADAP KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">HADAP SERONG KANAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">HADAP SERONG KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">BALIK KANAN 2X</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="10"> </p-inputNumber>
                    <label class="font-bold" for="metode">JALAN DITEMPAT</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 10</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">HALUAN KANAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">HALUAN KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">MELINTANG KANAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">MELINTANG KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">LANGKAH TEGAP</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal"  [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">LANGKAH BIASA</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal"  [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">LANGKAH PERLAHAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">GANTI LANGKAH</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">BELOK KANAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">TIAP TIAP BANCAR 2X BELOK KANAN</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">BELOK KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">TIAP TIAP BANCAR 2X BELOK KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="25"> </p-inputNumber>
                    <label class="font-bold" for="metode">TIAP TIAP BANCAR 2X BELOK KIRI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 25</small>
            </div>
            <div class="field mb-5">
                <p-floatLabel>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="0" [max]="200"> </p-inputNumber>
                    <label class="font-bold" for="metode">VARIASI FORMASI</label>
                </p-floatLabel>
                <small class="text-red-600 font-italic">Maksimal Skor 200</small>
            </div>
        </div>
        <ng-template pTemplate="footer" styleClass="text-right">
            <p-button label="Simpan" icon="pi pi-check"></p-button>
            <p-button label="Hapus" icon="pi pi-trash" styleClass="p-button-danger" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
    <!-- <div class="card p-fluid">
        <div class="card-header"> 
            <h4 class="text-primary mb-3">LEMBAR PENILAIAN</h4>
        </div>
        <div class="field">
            <p-floatLabel>
                <p-inputNumber [(ngModel)]="value" inputId="minmax" mode="decimal" [min]="15" [max]="60"> </p-inputNumber>
                <label for="ketepatan">KETEPATAN JAWABAN</label>
            </p-floatLabel>
            <small class="text-red-600 font-italic">Minimum Skor 15 dan Maksimal Skor 60</small>
        </div>
    </div> -->
</div>