<div class="card">
    <div class="flex justify-content-between mb-3 align-items-center ">
        <div style="color: #2D9596;font-weight: bold;font-size: 16px;">
            BUAT AKUN REGU
        </div>
    </div>
    <div class="grid p-fluid">
        <div class="col-12 field">
            <div class="flex flex-column gap-2">
                <label for="nama-regu" class="font-bold">NAMA REGU</label>
                <input pInputText id="nama-regu" />
            </div>
        </div>
        <div class="lg:col-6 col-12 field">
            <div class="flex flex-column gap-2">
                <label for="username" class="font-bold">USERNAME</label>
                <input pInputText id="username" />
            </div>
        </div>
        <div class="lg:col-6 col-12 field">
            <div class="flex flex-column gap-2">
                <label for="password" class="font-bold">PASSWORD</label>
                <p-password id="password"> </p-password>
            </div>
        </div>
    </div>
</div>