<p-toast></p-toast>

<app-header></app-header>
<div class="grid mr-2 ml-2" style="margin-top: 6rem;" *ngIf="nilai_pupuk == null && nilai_sandi == null">
    <div class="lg:col-6 col-12">
        <div class="card">
            <h4>Informasi Pengerjaan</h4>
            <hr>
            <div class="grid">
                <div class="col-3">
                    Sesi Lomba
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    PUPUK
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    Regu
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    {{account.NAME}}
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    Pangkalan
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    {{account.NAMA_PANGKALAN}}
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-6 col-12">
        <div class="card">
            <h4>Sisa Waktu</h4>
            <hr>
            <div class="flex justify-content-center p-fluid" style="font-size: 4.2rem;font-weight: bold;">
                {{counter | formatTime}}
            </div>
        </div>
    </div>
    <div class="lg:col-1 col-12">
        <div class="card">
            <div class="sidebar-sandi">
                <div *ngFor="let i of generateArray(5); let last = last" class="loop">
                    <a (click)="clickIndikator(i)"
                        class="indikator text-center flex align-items-center justify-content-center"
                        [ngClass]="{'active': isIndikatorActive(i)}">
                        {{ i + 1 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-11 col-12">
        <div class="card">
            <div class="w-full">
                <div *ngFor="let item of soal; let outerIndex = index" class="mt-5 text-center">
                    <p-image *ngIf="item.QUESTION_IMAGE != '' && item.QUESTION_IMAGE != null " [src]="item.QUESTION_IMAGE"
                        alt="Image" width="100%" height="120%" [preview]="true"></p-image>
                    <p class="text-2xl font-bold mt-3 text-left" [ngClass]="{ 'mt-8': outerIndex === 1 }"> <span
                            class="pi pi-key mr-3 font-bold text-2xl"> =</span>{{ item.QUESTION_TEXT }}</p>
                            <h4 class="font-bold text-left">JAWABAN</h4>
                    <div class="grid gap-2">
                        <!-- <input type="text" pInputText placeholder="ISIKAN JAWABAN MU DISINI" [(ngModel)]="item.TextAnswer"
                            (ngModelChange)="onInput()"> -->
                            <input pInputText  class="col text-center"
                            (ngModelChange)="onInput()" [(ngModel)]="item.key1" />
                            <input pInputText class="col text-center" (input)="onInput()" [(ngModel)]="item.key2" />
                            <input pInputText class="col text-center" (input)="onInput()" [(ngModel)]="item.key3" />
                            <input pInputText class="col text-center" (input)="onInput()" [(ngModel)]="item.key4" />
                            <input pInputText class="col text-center" (input)="onInput()" [(ngModel)]="item.key5" />                            
                    </div>
                    <div class="grid mt-5">
                        <button pButton class="col p-button-info p-fluid mr-3" label="NEXT" (click)="next()"></button>
                        <button pButton class="col p-button-warning p-fluid" label="SELESAI" (click)="selesai()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid mr-2 ml-2" style="margin-top: 6rem;" *ngIf="nilai_pupuk != null && nilai_sandi != null">
    <div class="lg:col-6 col-12">
        <div class="card">
            <h4>Informasi Pengerjaan</h4>
            <hr>
            <div class="grid">
                <div class="col-3">
                    Sesi Lomba
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    PUPUK
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    Regu
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    {{account.NAME}}
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    Pangkalan
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    {{account.NAMA_PANGKALAN}}
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-6 col-12">
        <div class="card">
            <h4>Total Skor</h4>
            <hr>
            <div class="grid">
                <div class="col-3">
                    NILAI PUPUK
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    {{nilai_pupuk}}
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    NILAI SANDI
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    {{nilai_sandi}}
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    Total Waktu Pengerjaan
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-8 font-bold">
                    {{counter | formatTime}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <nav class="nav-cat">
        <div class="nav-text">
            LAGADELAS 2024
        </div>
        <div class="nav-text">
            {{counter | formatTime}}
        </div>
    </nav>
    <div class="flex-column layout">
        <div class="sidebar">
            <div *ngFor="let i of generateArray(5); let last = last" class="loop">
                <a (click)="clickIndikator(i)"
                    class="indikator text-center flex align-items-center justify-content-center"
                    [ngClass]="{'active': isIndikatorActive(i)}">
                    {{ i + 1 }}
                </a>
            </div>
        </div>
        <div class="soal-cat w-full">
            <div *ngFor="let item of soal; let outerIndex = index" class="mt-5">
                <p-image *ngIf="item.QUESTION_IMAGE != '' && item.QUESTION_IMAGE != null " [src]="item.QUESTION_IMAGE"
                    alt="Image" width="100%" height="120%" [preview]="true"></p-image>
                <p class="text-2xl font-bold mt-3" [ngClass]="{ 'mt-8': outerIndex === 1 }"> <span
                        class="pi pi-key mr-3 font-bold text-2xl"> =</span>{{ item.QUESTION_TEXT }}</p>
                <div class="field p-fluid">
                    <input type="text" pInputText placeholder="ISIKAN JAWABAN MU DISINI" [(ngModel)]="item.TextAnswer"
                        (ngModelChange)="onInput()">
                </div>
                <button pButton class="p-button-info p-fluid" label="NEXT" (click)="next()"></button>
                <button pButton class="p-button-info p-fluid" label="SELESAI" (click)="selesai()"></button>
            </div>
        </div>
    </div>
</div> -->