<div class="card">
    <div class="flex justify-content-between mb-3 align-items-center ">
        <div style="color: #2D9596;font-weight: bold;font-size: 16px;">
            BUAT BLOG
        </div>
    </div>
    <div>
        <p-editor [(ngModel)]="text" [style]="{ height: '320px' }"></p-editor>
    </div>

    <div class="mb-5">
        <button class="p-button-success" pButton pRipple label="CEK CEK" (click)="cek()"></button>
    </div>


    <div [innerHTML]="convertToHtml(text)" class="mt-5"></div>
</div>